
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
  }
  
  body{
    background-image: url('./assets/img01.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: backgroundAnimation 10s linear infinite;
    backdrop-filter: blur(2px);
  }
  
  .container{
    background: linear-gradient(120deg, #f0833a 0%, #242527 100%);
    border-radius: 14px;
    margin: 14px;
    max-width: 600px;
    width: 100%;
    box-sizing: 0 3px 5px rgba(0,0,0, 0.5);
    overflow: hidden;
  }
  
  .header{
    background: linear-gradient(120deg, #f0833a 0%, #242527 100%);
    padding: 24px;
    text-align: center;
    color: #ffffff;
  }

  .header h2 {
    filter: drop-shadow(10px 7px 10px rgb(233, 107, 3));
  }
  
  .form{
    padding: 24px;
    margin: 5px;
  }
  
  .form-content{
    margin-bottom: 8px;
    padding-bottom: 18px;
    position: relative;
  }
  
  .form-content label{
    display: inline-block;
    margin-bottom: 4px;
    color: #eee;
  }
  
  .form-content input{
    display: block;
    width: 100%;
    border-radius: 8px;
    padding: 8px;
    border: 2px solid #dfdfdf;
  }
  
  .form-content a{
    position: absolute;
    bottom: -8px;
    left: 0;
    visibility: hidden;
  }
  
  .form button{
    background: linear-gradient(120deg, #f0833a 0%, #242527 100%);
    color: #FFF;
    width: 100%;
    border-radius: 14px;
    padding: 10px;
    border: 0;
    font-size: 16px;
    cursor: pointer;
    margin-top: 28px;
  }
  
  .form-content.error input,
  .form-content.erron textarea{
    border-color: #ff3b25;
  }
  
  .form-content.error a{
    color: #fff;
    visibility: visible; 
  }

  .form-content textarea {
    height: 150px;
    width: 100%;
    border-radius: 8px;
    padding: 8px;
    border: 2px solid #dfdfdf;
  }


  @keyframes backgroundAnimation {
    0% {
        background-position: center;
    }

    100% {
        background-position: 100% 0;
    }
}